#background {
    width: 100%;
    height: 100%;
    fill: "black";
}


#new #config {
    text-buffer:
        'text: newConfig;';
}
#classEl1 #config {
    text-buffer:
        'text: myClass El 1;';
}
 #classEl2 #config {
    text-buffer:
        'text: myClass El 2;';
}

.myClass #main {
    letter-spacing: 15; /* INCONSISTENT having to use mainEl here */
    text-anchor: middle;
}
.myClass{
    fill: orange;
    font-family: 'Barlow-Bold';
    font-size: 40; /* haha... gets applied, but logs as -32768 WTF??*/
    
}
.myClass #light{
    fill: magenta;
    x: -2;
    y: -2;
}
.myClass #shadow{
    fill: red;
    x: 3;
    y: 3;
}
/* TODO how to apply letter-spacing, text-anchor on class??? */
