#background {
    width: 100%;
    height: 100%;
    fill:black;
}

.myText {
    text-length: 30;
}
#shadowText #highlight {
    text-anchor: middle;
    x: -1;
    y: -1;
}
#shadowText #shadow {
    fill: red;
    x: 1;
    y: 1;
}
#shadowText #main {
    fill: #1eff00;
    x:0;
    y:0;
}
#shadowText {
    text-anchor: middle;
}