.myText {
    text-length: 20;



}

.config {
    text-buffer:
        'text: text; text-anchor: start;font-size: 30;letter-spacing: 0;'
    }
/* #lightW {
    fill:#333333; 
} removed from inst 7 ff */
/* .lightW {
    fill:#444444;
}removed from instance 9ff */

/* .shadowWidget {
    fill: grey;
} */
/* .lightW {
    fill: white;
    
} */
/* .shadowW {
    fill: red;
   
} */