.myText {
    text-buffer: "shadow-text";
    text-anchor: "start";
    letter-spacing: 0;
    text-length: 20;  
}

.main {
    fill: grey; 
    
    
    
}
.shadow {
    fill: red;
    x: 1;
    y: 1;
    opacity: 1;
}
.light {
    fill: white;
    x: -1;
    y: -1;
    opacity: 1;
}

