
.myText {
    text-length: 20;
}
.main {
    fill: grey;
    text-anchor: 'middle';
    
}
.shadow {
    fill: red;
    x: 1;
    y: 1;
    opacity: 0.5;
    
}
.light {
    fill: white;
    x: -1;
    y: -1;
    opacity: 0.5;
}
